*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 50%;
    margin: 80px auto;
    position: relative;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 1;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blue;
    top: 50px;
    left: 50px;
    z-index: 2;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 3;
}
.boxes{
    display: inline-block;
    position: absolute;
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}