*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* line-height: 1.9; */
    padding: 20px;
}
p{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.9;
}
header{
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(235, 152, 152);
    z-index: 1000;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 5px solid #333;
}

nav{
    display: inline-block;
    background-color: gray;
    padding: 10px;
    /* margin: 20px; */
    width: 100%;
    margin: 10px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}

a:hover{
    background-color: #555;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}