*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.inline-block {
    display: inline-block;
    border: 2px solid #333;
    margin-right: 2%;
    padding: 10px;
    background-color: antiquewhite;
    vertical-align: top;
}
.advertisement{
    width: 38%;
}
.main-content{
    width: 28%;
}
.sidebar{
    width: 28%;
}
.inline-block:last-child {
    margin-right: 0;
}