*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

div{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border: 5px solid navy;
    /*overflow: visible;*/ /* Ensures child elements are visible outside the div */
    /*overflow: hidden;*/ /* Hides child elements that overflow the div */
    /*overflow: scroll;*/ /* Adds scrollbars if content overflows */
    overflow: auto; /* Adds scrollbars only when necessary */
    margin: 50px auto;
    padding: 10px;
}