*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 7.6;
    z-index: 1;
}

#floating{
    width: 300px;
    height: auto;
    background-color: #4b9fd6;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 1.6;
    border-radius: 10px;
    z-index: 2;
    border: 3px solid rgb(93, 76, 76);
}
#floating a{
    color: white;
    text-decoration: none;
}
#floating:hover{
    background-color:red;
}