*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header, footer{
    margin: 0 auto;
    width: 60%;
    padding: 20px;
}

#profile{
    margin: 0 auto;
    width: 60%;
    background: #c3a5a57a;
    padding: 20px;
    border: 2px solid #333;
}
#profilePicture{
    width: 200px;
    height: 250px;
}