*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #e0f7fa;
    line-height: 1.7;
}

.profile-card{
    width: 32%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
    position: relative;
}



.status{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    border: 4px solid #4CAF50;
    margin-bottom: 15px;
}