*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}