#btnDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}

#sampleTxtDiv{
    margin: 30px 0;
}

#sampleTxt{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    /* text-align: center; */
    padding: 100px;
    background-color: antiquewhite;
    border-radius: 15px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}